<header id="Header">
    <div id="bannerDiv">
        <img src="/logo/logo1.png" alt="Student Association logo" id="salogo" style="margin-left: 7px; height:100%;" />
        <h1>Offers</h1>
    </div>
    <div id="navDiv">
        <form action="/staff/events" method="get">
            <input class="" id="staffEventNav" type="submit" value="Events" />
        </form>
        <form action="/staff/challenges" method="get">
            <input class="" id="staffChallengeNav" type="submit" value="Search user" />
        </form>
        <form action="/logout" method="get">
            <input class="" id="logOut" action="/logout" type="submit" method="get" value="Log out" />
        </form>
    </div>
</header>